*{
  margin: 0;
  padding: 0;
}

.button {
    position: relative;
    background-color: #181818;
    border: none;
    font-size: 10px;
    color: #FFFFFF;
    padding: 10px;
    width: 65px;
    text-align: center;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.menu.scrolling {
    
    border-bottom: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    position: fixed;
    top: 0;
  }
  .d-md-block {
    display: block !important;
  }
  .container {
    width: 100%;
    padding-right: 1px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;}

.imagen{
	 padding-right: 30%;
    padding-left: 15px;
  text-justify: inter-word;
	
}
.l_izquierda{
  width: 50%;
}
.l_derecha{
  width: 40%;
  padding-left: 5%;
}
.contenedor{
  width: 100%;
  display: flex;
  
}

.td{
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(26, 37, 37);
}

.img_tabla{
  padding-left: 13%;
  padding-right: 10px;
}

.body{
  width: 120px; 
  height: 99px;
 
}
